In [1]:
#I was tossed
#Into walls of happy sundays
import pandas as pd
import sqlite3
from collections import Counter

In [2]:
con = sqlite3.connect("spotify.db")
#drop duplicats that are present in the database
df = pd.read_sql("SELECT * FROM daily_top20_tracks", con).drop('id', axis=1).drop_duplicates()
df.position = df.position.astype('int')

In [3]:
df.popularity = df.popularity.astype('int')

In [4]:
df['date'] = df['date'].astype('datetime64[ns, US/Eastern]')

In [5]:
#The #1 Position of the day would be 20 points, the 20th song would get 1.
df['chart_power'] = 21 - df.position
df_artists = pd.read_sql("SELECT * FROM artists", con).drop('id', axis=1)
chart_power_list = df.groupby(['art_name'])['chart_power'].sum().sort_values(ascending=False)

# Let's replicate the top20tracks process for the artists. So I can drop that in tableau as a join.
<b><i> What? </i></b>

# SAVE TO A CSV. AS A BACKUP AND TO DROP DUPLICATES
maybe we'll just restart the database with the CSV as the seed

In [ ]:
#df.to_csv('CSVs/top20tracks21JAN2021.csv')
#df_artists.to_csv('CSVs/artists21JAN2021.csv')

# AFTER THIS IS SCRATCHPAD

In [ ]:
## WRITE A FUNCTION THAT SHOWS THE lastest day's TOP 10 songs

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1100 entries, 0 to 1119
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   position     1100 non-null   int32
 1   art_id       1100 non-null   object
 2   art_name     1100 non-null   object
 3   album_name   1100 non-null   object
 4   song_id      1100 non-null   object
 5   song_name    1100 non-null   object
 6   popularity   1100 non-null   int32
 7   date         1100 non-null   datetime64[ns, US/Eastern]
 8   chart_power  1100 non-null   int32
dtypes: datetime64[ns, US/Eastern](1), int32(3), object(5)
memory usage: 73.0+ KB

In [11]:
df[['position','art_name', 'song_name']][df.date == max(df.date)]

,position,art_name,song_name
1100,1,100 gecs,stupid horse (Remix) [feat. GFOTY & Count Baldor]
1101,2,Nitepunk,Flow (Habstrakt Remix)
1102,3,ZULI,3ankaboot
1103,4,Special Request,Spectral Frequency
1104,5,Ivy Lab,Orange
1105,6,HEALTH,Blue Monday
1106,7,Shygirl,TASTY - Boys Noize Remix
1107,8,Kyle Watson,The Ratchet Express
1108,9,Nitti Gritti,Cold Day in Hell
1109,10,Gettoblaster,Alright Alright
1110,11,Habstrakt,Gotta Be
1111,12,Ardalan,Lifted
1112,13,Solardo,Tribesmen - Original Mix
1113,14,Korn,Got the Life
1114,15,Shermanology,Pop That
1115,16,Marten Hørger,ØUT ØF THE WØRLD
1116,17,The Knocks,Bodies
1117,18,The Deepshakerz,Devotion
1118,19,Dua Lipa,Break My Heart / Cosmic Girl (Dimitri From Par...
1119,20,Octo Octa,Goddess Calling