In [1]:
#I was tossed
#Into walls of happy sundays
import pandas as pd
import sqlite3
from collections import Counter

In [2]:
con = sqlite3.connect("spotify.db")
#drop duplicats that are present in the database
df = pd.read_sql("SELECT * FROM daily_top20_tracks", con).drop('id', axis=1).drop_duplicates()
df.position = df.position.astype('int')

In [3]:
df.popularity = df.popularity.astype('int')

In [4]:
df['date'] = df['date'].astype('datetime64[ns, US/Eastern]')

In [5]:
#The #1 Position of the day would be 20 points, the 20th song would get 1.
df['chart_power'] = 21 - df.position
df_artists = pd.read_sql("SELECT * FROM artists", con).drop('id', axis=1)
chart_power_list = df.groupby(['art_name'])['chart_power'].sum().sort_values(ascending=False)

In [ ]:
#df.to_csv('CSVs/top20tracks21JAN2021.csv')
#df_artists.to_csv('CSVs/artists21JAN2021.csv')

# AFTER THIS IS SCRATCHPAD

In [ ]:
## WRITE A FUNCTION THAT SHOWS THE lastest day's TOP 10 songs

In [14]:
df_artists.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 194 entries, 0 to 193
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   art_id         194 non-null    object
 1   art_name       194 non-null    object
 2   followers      194 non-null    int64
 3   genre          194 non-null    object
 4   popularity     194 non-null    object
 5   album_count    194 non-null    int64
 6   first_release  194 non-null    object
 7   query_date     194 non-null    object
 8   img_url        1 non-null      object
dtypes: int64(2), object(7)
memory usage: 13.8+ KB

In [19]:
df_artists.followers

0       12849
1       19558
2       11202
3        6213
4      128385
        ...
189     76800
190     16857
191      6231
192      3983
193     45594
Name: followers, Length: 194, dtype: int64

## STRFTIME from the first_release to get an artist

In [30]:
df_artists.sort_values(by=['followers'], ascending=False).head(20)[['art_name','followers']].reset_index(drop=True)

                   art_name  followers
0                  Dua Lipa   23149328
1        The Rolling Stones    9864532
2                    Prince    5290198
3                   Madonna    4846456
4                      Korn    4434466
5        Los Ángeles Azules    4361532
6                   Pantera    3168400
7               Mötley Crüe    3111998
8                   Tove Lo    2727230
9   Queens of the Stone Age    2659955
10                    Diplo    2358880
11             Beastie Boys    1880034
12          Nine Inch Nails    1731226
13                New Order    1467778
14               Portishead    1353912
15                    Björk    1347273
16            Vince Staples    1330895
17               C. Tangana    1192673
18                   Bonobo    1112457
19                Tom Waits    1068004

In [44]:
genre_follower_avgs.astype('int').sort_values(ascending=False)[:20]

genre
dance pop              7869965
funk                   5290198
british invasion       4941586
gruperas inmortales    4361532
glam metal             3111998
bmore                  2358880
alternative metal      1647521
art rock               1467778
electronica            1353912
conscious hip hop      1330895
urbano espanol         1192673
downtempo              1112457
folk                   1068004
cali rap               1013438
neo-psychedelic         853766
bedroom pop             671420
garage rock             661656
candy pop               660918
alternative rock        552534
bossa nova              459772
Name: followers, dtype: int32

In [35]:
genre_follower_avgs = df_artists.groupby(by='genre')['followers'].mean()
#.sort_values(['followers'], ascending=False)

In [ ]:
genre_follower_avgs['AVG Column'] = genre_follower_avgs['followers']