In [1]:
#I was tossed
#Into walls of happy sundays
import pandas as pd
import sqlite3
from collections import Counter

In [2]:
con = sqlite3.connect("spotify.db")
#drop duplicats that are present in the database
df = pd.read_sql("SELECT * FROM daily_top20_tracks", con).drop('id', axis=1).drop_duplicates()
df.position = df.position.astype('int')
#The #1 Position of the day would be 20 points, the 20th song would get 1.
df['chart_power'] = 21 - df.position

# Let's replicate the top20tracks process for the artists. So I can drop that in tableau as a join.
<b><i> What? </i></b>

In [3]:
df_artists = pd.read_sql("SELECT * FROM artists", con).drop('id', axis=1)

The aggregate chart_power artists on the list.

In [5]:
df.groupby(['art_name'])['chart_power'].sum().sort_values(ascending=False)

art_name
SLIFT              448
Ponty Mython       416
Chris Lake         402
Acid Dad           380
Tones On Tail      369
                  ...
CID                  3
MC Chris             3
The Deepshakerz      3
Jansons              1
Mella Dee            1
Name: chart_power, Length: 97, dtype: int32

# SAVE TO A CSV. AS A BACKUP AND TO DROP DUPLICATES
maybe we'll just restart the database with the CSV as the seed

In [ ]:
df.to_csv('CSVs/top20tracks21JAN2021.csv')

In [ ]:
df_artists.to_csv('CSVs/artists21JAN2021.csv')

# AFTER THIS IS SCRATCHPAD

In [ ]:
#little example using CSV as the data source
file_name = 'CSVs/14Dec2020.csv'
csv_gen = (row for row in open(file_name))
next(csv_gen)

In [ ]:
#list comprehensions become Generators if you use a () instead of []
date_gen = (n for n in df.date.unique())

In [ ]:
type(date_gen)

In [ ]:
## WRITE A FUNCTION THAT SHOWS THE lastest day's TOP 10 songs